body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffffff;
  margin: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.title {
  text-align: center;
  color: #000000;
  margin-top: 10%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-moon {
  position: fixed;
  font-size: 1.2em;
  top: 20px;
  left: 96%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blackHover {
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blackHover:hover {
  background-color: #303030;
  border-radius: 50px;
  padding: 8px;
  color: white;
}

.whiteHover {
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.whiteHover:hover {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8px;
  color: #303030;
}

.fa-buffer {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.off {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

nav {
  width: 200px;
  z-index: 1;
}

nav .fa-angle-left {
  font-size: 1.5em;
  margin-left: 165px;
  margin-top: 25px;
}

nav .navButtonFirst {
  margin-left: 35px;
  margin-top: 5px;
  font-size: 22px;
  color: #6f86d6;
}

nav .navButtonLast {
  margin-top: 70px;
  margin-left: 25px;
  font-size: 17px;
  text-decoration: none;
  padding: 7px 15px;
  width: 0;
  border-radius: 4px 0 0 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav .navButton {
  text-decoration: none;
  margin-left: 25px;
  font-size: 17px;
  padding: 7px 15px;
  width: 0;
  border-radius: 4px 0 0 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDark {
  background-color: #303030;
}

.navDark .fa-angle-left {
  color: white;
}

.navDark .navButton {
  color: white;
}

.navDark .navButton:hover {
  width: 8.8em;
  background-color: white;
  color: black;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.navDark .navButtonLast {
  color: white;
}

.navDark .navButtonLast:hover {
  width: 8.8em;
  background-color: white;
  color: black;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.navWhite {
  background-color: white;
}

.navWhite .fa-angle-left {
  color: black;
}

.navWhite .navButton {
  color: black;
}

.navWhite .navButton:hover {
  width: 8.8em;
  background-color: #303030;
  color: white;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.navWhite .navButtonLast {
  color: black;
}

.navWhite .navButtonLast:hover {
  width: 8.8em;
  background-color: #303030;
  color: white;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.colorNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6f86d6;
  width: 2%;
  height: 100vh;
}
/*# sourceMappingURL=index.css.map */